* {
  font-family: PingFang SC,Microsoft YaHei,Helvetica Neue, Helvetica,  Hiragino Sans GB, SimSun, sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style:none;
  -webkit-font-smoothing: antialiased;
}
a,a:hover,a:active,a:link {
  text-decoration: none;
  color: #333;
}
#app{
  >:nth-child(2){
    margin-top: 140px;
  }
}

//按钮点击波 纹
.ripple {
  position: relative;
  //隐藏溢出的径向渐变背景
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  //设置径向渐变
  background-image: radial-gradient(circle, #41556c 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  //设置初始状态
  transition: 0s;
}
